[submodule "repos/blaze"]
	path = repos/blaze
	url = git@github.com:meteor/simple-todos.git
[submodule "repos/angular"]
	path = repos/angular
	url = git@github.com:meteor/simple-todos-angular.git
[submodule "repos/vue"]
	path = repos/vue
	url = git@github.com:meteor/simple-todos-vue.git
[submodule "repos/svelte"]
	path = repos/svelte
	url = git@github.com:meteor/simple-todos-svelte.git

[submodule "repos/react"]
	path = repos/react
	url = https://github.com/BrianMulhall/simple-todos-react.git
